@model HRMS.Models.EmpSalaryModel

<script type="text/javascript">
    function GetMonth(obj) {
        var SelectYear = $(obj).val();

        if (SelectYear != "") {
            $.ajax({
                url: "/Index/ShowMonth?year=" + SelectYear,
                type: "Get",
                success: function (data) {
                    $('#SalaryMonth').find("option").remove();

                    var opt1 = new Option("Select Month", "");
                    $('#SalaryMonth').append(opt1);

                    for (var iloop = 0; iloop < data.length; iloop++) {
                        var opt = new Option(data[iloop].Text, data[iloop].Value);
                        $('#SalaryMonth').append(opt);
                    }
                }
            });
        }
        else
        {
            $('#SalaryMonth').find("option").remove();

            var opt2 = new Option("Select Month", "");
            $('#SalaryMonth').append(opt2);
        }
    }

    $(document).ready(function () {
        $("#btn_submit").click(function () {
            var hasError = false;
            var salary = $("#Salary").val();
            var year = $("#SalaryYear").val();
            var month = $("#SalaryMonth").val();

            if (salary.trim() == "") {
                $("#spnSalary").html("Salary is required.");
                hasError = true;
            }
            else {
                $("#spnSalary").html("");
                if (isNaN(salary.trim())) {
                    $("#spnSalary").html("Salary is not valid.");
                    hasError = true;
                }
            }

            if (year.trim() == "") {
                $("#spnYear").html("Year is required.");
                hasError = true;
            }
            else {
                $("#spnYear").html("");
            }

            if (month.trim() == "") {
                $("#spnMonth").html("Month is required.");
                hasError = true;
            }
            else {
                $("#spnMonth").html("");
            }

            if (hasError) {
                return false;
            }
        });
    });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="Heading">Add Employee Salary</div>
    <div class="clear">&nbsp;</div>
    
    <div class="Form">
        @*<h4>Add Employee Salary</h4>
        <div>
            @Html.ActionLink("Back to Employee Salary List", "EmployeeSalaryList", new { id = @Request.QueryString["EmpId"] })
            @Html.HiddenFor(model => model.EmpId)
        </div>
        <hr />
        @Html.ValidationSummary(true,"", new{@class="text-denger"})*@
        <div class="FormLegend" style="width:160px;">
            Add Employee Salary
        </div>
        <div class="FormGroup">
            <div class="LeftCol15">
                <b>Employee Name</b>
            </div>
            <div class="RightCol">
                @{
                    string EmpName = @ViewBag.EmpName;
                }

                <b>@Html.Label(EmpName)</b>
                @Html.HiddenFor(model => model.EmpId)
            </div>
        </div>

        <div class="FormGroup">
            <div class="LeftCol15">
                @Html.LabelFor(model => model.Salary, "Salary", htmlAttributes: new{@class = "control-label"})
            </div>
            <div class="RightCol">
                @Html.TextBoxFor(model => model.Salary, new {@maxlength = "10", @class = "formcontrol" })
                <span id="spnSalary" class="text-denger"></span>
                @*@Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-denger" })*@
            </div>
        </div>

        <div class="FormGroup">
            <div class="LeftCol15">
                @Html.LabelFor(model => model.SalaryYear, "Year", htmlAttributes: new{@class = "control-label"})
            </div>
            <div class="RightCol">
                @{
                    int CurrentYear = DateTime.Now.Year;
                    List<SelectListItem> YearItems = new List<SelectListItem>();

                    for (int iloop = CurrentYear - 5; iloop <= CurrentYear; iloop++)
                    {
                        YearItems.Add(new SelectListItem
                        {
                            Text=iloop.ToString(),
                            Value=iloop.ToString()
                        });
                    }
                }

                @Html.DropDownListFor(model => model.SalaryYear, YearItems, "Select Year", new { @class = "formcontrol", onchange="GetMonth(this);"})
                <span id="spnYear" class="text-denger"></span>
                @*@Html.ValidationMessageFor(model => model.SalaryYear, "", new { @class = "text-denger" })*@
            </div>
        </div>

        <div class="FormGroup">
            <div class="LeftCol15">
                @Html.LabelFor(model => model.SalaryMonth, "Month", htmlAttributes: new{@class = "control-label"})
            </div>
            <div class="RightCol">
                @{
                    List<SelectListItem> MonthItems = new List<SelectListItem>();
                }
        
                @Html.DropDownListFor(model => model.SalaryMonth, MonthItems, "Select Month", new { @class = "formcontrol"})
                <span id="spnMonth" class="text-denger"></span>
                @*@Html.ValidationMessageFor(model => model.SalaryMonth, "", new { @class = "text-denger" })*@
            </div>
        </div>

        <div class="FormGroup">
            <div class="LeftCol15">&nbsp;</div>  
            <div class="RightCol">  
                <input type="submit" value="Save" class="btn btn-default" id="btn_submit" />
                <input type="button" value="Back to Employee Salary List" class="btn btn-default" onclick="location.href='@Url.Action("EmployeeSalaryList", "Index", new { id = @Request.QueryString["EmpId"] })';" />
            </div>
        </div>

        <div class="FormGroup">
            <div class="LeftCol15">&nbsp;</div>  
            <div class="RightCol">
                <div style="color:green;">
                    @ViewBag.Message
                </div>
                <div style="color:red;">
                    @ViewBag.ErrorMessage
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear">&nbsp;</div>
}